<link rel="stylesheet" href="components/styles/navbar.css" />
<!-- <body> -->
<div class="navbarContainer">
  <!-- Logo -->
  <a href="/index.html" class="logocontainer"> Royle Auction </a>
  <!-- Mobile Menu -->
  <div class="mobilemenu">
    <!-- Hamburger Menu -->
    <div class="iconContainer" onclick="toggleMenu()">
      <div class="bar originLeft" id="bar1"></div>
      <div class="bar" id="bar2"></div>
      <div class="bar originLeft" id="bar3"></div>
    </div>
    <!-- Mobile Links -->
    <div class="mobileLinkList" id="mobileMenu">
      <a href="/index.html" class="menuitemmob">Home</a>
      <a href="/about.html" class="menuitemmob">About</a>
      <a href="/gallery.html" class="menuitemmob">Gallery </a>
      <a href="/buywithus.html" class="menuitemmob">Buy With Us</a>
      <a href="/sellwithus.html" class="menuitemmob">Sell With Us</a>
      <a href="/valuation.html" class="menuitemmob">Valuation</a>
      <a href="/contact.html" class="menuitemmob">Contact</a>
      <!-- <a href="#" id="productsMenu" class="menuitem">Products</a> -->
    </div>
  </div>
  <!-- Desktop Menu -->
  <div class="desktopmenu">
    <a href="/index.html" class="menuitem">Home</a>
    <a href="/about.html" class="menuitem">About</a>
    <a href="/gallery.html" class="menuitem">Gallery </a>
    <a href="/buywithus.html" class="menuitem">Buy With Us</a>
    <a href="/sellwithus.html" class="menuitem">Sell With Us</a>
    <a href="/valuation.html" class="menuitem">Valuation</a>
    <a href="/contact.html" class="menuitem">Contact</a>
    <a href="#" id="productsMenu" class="menuitem">Products</a>
  </div>
  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <button class="close-btn">&#x2715;</button>
    <div class="sidebar-content">
      <a href="/components/sub categories/center piece/index.html" class="product-item">Center Piece</a>
      <a href="/components/sub categories/clocks/index.html" class="product-item">Clocks</a>
      <a href="/components/sub categories/lighting/index.html" class="product-item">Lighting</a>
      <a href="/components/sub categories/mirrors/index.html" class="product-item">Mirrors</a>
      <a href="/components/sub categories/porcelain/index.html" class="product-item">Porcelain</a>
      <a href="/components/sub categories/paintings/index.html" class="product-item">Paintings</a>
      <a href="/components/sub categories/seating/index.html" class="product-item">Seating</a>
      <a href="/components/sub categories/storage/index.html" class="product-item">Storage</a>
      <a href="/components/sub categories/scultpture/index.html" class="product-item">Sculpture</a>
      <a href="/components/sub categories/silverwave/index.html" class="product-item">Silverwave</a>
      <a href="/components/sub categories/tables/index.html" class="product-item">Tables</a>
      <a href="/components/sub categories/dining room/index.html" class="product-item">Dining Room</a>
      <a href="/components/sub categories/living room/index.html" class="product-item">Living Room</a>
      <a href="/components/sub categories/bed room/index.html" class="product-item">Bed Room</a>
      <a href="/components/sub categories/marbles/index.html" class="product-item">Marbles</a> 
      <a href="/components/sub categories/crystal/index.html" class="product-item">Crystal</a>
    </div>
  </div>
</div>

<script src="components/functionHeader.js"></script>
