<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="description" content="Multi-purpose Business html5 template" />
    <link href="../../../assets/images/favicon/favicon.png" rel="icon" />

    <!-- Fonts
    ============================================= -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7CMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CPlayfair+Display:400,400i"
      rel="stylesheet"
    />

    <!-- Stylesheets
    ============================================= -->
    <link href="../../../assets/css/external.css" rel="stylesheet" />

    <!-- RS5.0 Main Stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../assets/revolution/css/settings.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../assets/revolution/css/layers.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../assets/revolution/css/navigation.css"
    />

    <link rel="stylesheet" href="../../../assets/css/style.css" />
    <link href="../../../assets/css/style-dark.css" rel="stylesheet" />
    <link href="../../../assets/css/themes/theme-red.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../styles/navbar.css" />
    <!-- Document Title
    ============================================= -->
    <title>Royle Auction</title>
  </head>

  <body>
    <div class="preloader">
      <div class="loader-eclipse">
        <div class="loader-content"></div>
      </div>
    </div>
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapperParallax" class="wrapper clearfix">
      <!-- header -->
      <div id="header-container"></div>
      <!-- Page Title #1
============================================= -->
      <section id="page-title" class="page-title">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="title title-1 text-center">
                <div class="title--content">
                  <div class="title--heading">
                    <h1>Marbles</h1>
                  </div>
                </div>
                <div class="clearfix"></div>
                <ol class="breadcrumb breadcrumb-bottom">
                  <li><a href="../../../index.html">Home</a></li>
                  <li class="active">Marbles</li>
                </ol>
              </div>
              <!-- .title end -->
            </div>
            <!-- .col-lg-12 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #page-title end -->

      <!-- category #15
============================================= -->
      <section
        id="category15"
        class="category category-3 category-6 category-13 category-15 pt-20 pb-80"
      >
        <div class="container-fluid">
          <!-- .row end -->
          <div class="row mb-60">
            <!-- category item #1 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/1.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->

            <!-- category item #2 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/2.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->

            <!-- category item #3 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/3.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->

            <!-- category item #4 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/4.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->

            <!-- category item #5 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/5.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->

            <!-- category item #6 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/6.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->

            <!-- category item #7 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/7.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->

            <!-- category item #8 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/8.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/9.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/10.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/11.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/12.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/13.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/14.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/15.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/16.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/17.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/18.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/19.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/20.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/21.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/22.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/23.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/24.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/25.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/26.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/27.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/28.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/29.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/30.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/31.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/32.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/33.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/34.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/35.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/36.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/37.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/38.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/39.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/40.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/41.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/42.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/43.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/44.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/45.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/46.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/47.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/48.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
            <!-- category item #9 -->
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="category-item subcategorycontainer">
                <div class="category--img">
                  <img src="/public/Products/Lighting/49.jpg" alt="category" style="width: 300px;" />
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                  <div class="category--title">
                    <h3><a href="#"></a></h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- .category-item subcategorycontainer end -->
          </div>
        </div>
        <!-- .container end -->
      </section>
      <!-- #category end -->

      <!-- Footer #2
      ============================================= -->
      <footer id="footerParallax" class="footer footer-2 footer-5">
        <div class="container pr-40 pl-40">
          <div class="footer-widget">
            <div class="row">
              <div
                class="col-sm-12 col-md-12 col-lg-5ths widget--logo text-center-xs"
              >
                <div class="widget--content">
                  <div class="widget--logo-img">
                    <img
                      src="/public/logo.jpg"
                      id="footerlogo"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="footer--copyright">
                  <span
                    >&copy; 2024 Royle Auction - All Rights Reserved, by</span
                  ><a href="#"> OMNIA</a>
                </div>
                <!-- .footer-copyright end -->
              </div>
              <!-- .col-lg-5ths end -->
              <div
                class="col-sm-12 col-md-6 col-lg-5ths text-center-xs widget--contact-info"
              >
                <div class="widget--content">
                  <ul class="list-unstyled">
                    <li>Lahore</li>
                    <li>Pakistan.</li>
                    <li>
                      <a href="mailto:admin@gmail.com"
                        >khizardar777@gmail.com</a
                      >
                    </li>
                    <li><a href="tel:+03234567890">+92-317-5983425</a></li>
                  </ul>
                </div>
              </div>
              <!-- .col-lg-5ths end -->
              <div
                class="col-sm-12 col-md-6 col-lg-5ths text-center-xs widget--links"
              >
                <div class="widget--content">
                  <ul class="list-unstyled">
                    <li><a href="../../../about.html">About Us </a></li>
                    <li><a href="../../../privacy-policy.html">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
              <!-- .col-lg-5ths end -->
              <div
                class="col-sm-12 col-md-6 col-lg-5ths text-center-xs widget--newsletter"
              >
                <div class="widget--content">
                  <h3>GET 20% OFF</h3>
                  <p>By subscribing to our newsletter</p>
                  <form class="mailchimp form--newsletter">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter your email"
                      required
                    />
                    <button type="submit">
                      <i class="fa fa-chevron-right"></i>
                    </button>
                    <div class="subscribe-alert"></div>
                  </form>
                </div>
              </div>
              <!-- .col-lg-5ths end -->
              <div
                class="col-sm-12 col-md-6 col-lg-5ths text-center-xs widget--social"
              >
                <div class="widget--content">
                  <div class="social--icons">
                    <span>Follow Us On Social</span>
                    <a class="facebook" href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a class="twitter" href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a class="google-plus" href="#">
                      <i class="fa fa-pinterest-p"></i>
                    </a>
                    <a class="instagram" href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- .col-lg-5ths end -->
            </div>
            <!-- .row end -->
          </div>
          <!-- .container end -->
        </div>
      </footer>
    </div>
    <!-- #wrapper end -->

    <!-- Footer Scripts
============================================= -->
    <script src="../../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../../assets/js/plugins.js"></script>
    <script src="../../../assets/js/functions.js"></script>
    <!-- header script -->
    <script src="../loadHeader.js"></script>
  </body>
</html>
